@import "../components/cards/newsCard/newsCard.css";
@import "../components/cards/chartCard/chartCard.css";
@import "../components/cards/companyProfileCard/companyProfileCard.css";
@import "../components/shared/searchBar/searchBar.css";
body {
    font-family: Helvetica, Arial, sans;
    font-weight: 400;
    background-color: #ddd;
    padding: 2px;
  }

#app-container {
    max-width: 1800px;
    min-width: 370px;
    margin: 0 auto;
    width: fit-content;
}

  img {
    max-width: 100px;
    max-height: 20px;
  }
  
  form {
    margin-bottom: 1rem;
  }
  
  input[type="text"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    border-right: none;
    outline: none;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-right: 2px;
    flex-grow: 1;
  }
  
  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #0062b1;
  }

  button[type="submit"] {
    background-color: #f5f5f5;
  }
  
  .error {
    color: red;
  }

  form#ticker-form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  #ticker-input-listbox{
    width: -webkit-fill-available;
  }

  #compare-search {
    width: -webkit-fill-available;
  }

  #cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    gap: 20px;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    .cards-title {
      grid-column: 1 / -1;
      display: flex;
      border-bottom: 1px solid #ddd;
      justify-content: center;
      text-align: center;
      background-color: #ddd;
      border-radius: 6px;
      padding: 0 5px;
    }
        img {
        max-width: 100px;
        max-height: 50px;
        align-self: center;
        padding-right: 10px;
    }
}

.card {
    grid-column: span 2;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    min-width: 28rem;
}

.card-header {
    font-size: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    height: 40px;
}

.card-footer {
    font-size: 1rem;
    border-top: 1px solid #ddd;
    height: 40px;
    
    a {
        text-decoration: none;
        color: #000000;
    }
}

@media (max-width: 1024px) {
  #cards-container {
    grid-template-columns: repeat(2, 1fr);

  }
    .card {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }
  .card {
    min-width: 100%;
  }
}